#map {
  width: 100%;
  height: 100vh;
}
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group{
  background-color: transparent;
  box-shadow: 0px 0px 10px 2px rgba(2, 71, 254, 0.5) inset !important;
  backdrop-filter: blur(5px) !important;
  
}
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  display: none;
  background-image: url('https://cdn-icons-png.flaticon.com/128/10337/10337471.png');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    display: block;
    
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon{
  display: none;
  background-image: url('https://cdn-icons-png.flaticon.com/128/10337/10337430.png');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    display: block;
}
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl .mapboxgl-ctrl-compass .mapboxgl-ctrl-icon{
  display: none;
  background-image: url('https://cdn-icons-png.flaticon.com/128/3138/3138804.png');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    display: block;
}
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group button+button{
  border-top: 1px solid #0040FF;
}
.sidebar {
  background-color: transparent;
  box-shadow: 0px 0px 20px 5px rgba(2, 71, 254, 0.5) inset;
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
.drawBox {
  background-color: rgba(2, 71, 254, 0.5);
  font-family: monospace;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 12px;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  backdrop-filter: blur(5px);
}
.drawBox > .shape {
  padding: 6px 10px;
  cursor: pointer;
  /* background-color: blue; */
}
.drawBox > .active {
  background-color: blue;
}
.drawBox > .deleteShape {
  padding: 6px 5px;
  cursor: pointer;
  background-color: rgb(253, 33, 17);
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl .mapboxgl-ctrl-logo {
  display: none;
}
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl .mapboxgl-ctrl-attrib-inner {
  display: none;
}
.mapboxgl-ctrl .mapbox-gl-draw_polygon,
.mapboxgl-ctrl .mapbox-gl-draw_trash {
  display: none;
}
.toolbar {
  clip-path: polygon(2% 0%, 98% 0%, 100% 50%, 98% 100%, 2% 100%, 0% 50%);
  padding: 0px 50px 0px 50px !important;
}

.distance-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.distance-container > * {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  display: block;
  margin: 0;
  padding: 5px 10px;
  border-radius: 3px;
}
.mapboxgl-popup-content .mapboxgl-popup-close-button{
  color: #fff !important;
  font-size: 1.8rem;
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid #0070FF;
  padding: 3px;
}
.mapboxgl-popup-content {
  background: transparent !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 71, 254, 0.5) inset !important;
  backdrop-filter: blur(5px) !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip{
  border-left-color: #0040FF !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip{
  border-right-color: #0040FF !important;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
  border-bottom-color: #0040FF !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
  border-top-color: #0040FF !important;
}